@using WebApp.Helpers;

@{
    Layout = "~/Views/Shared/DashboardBussiness.cshtml";

}

<div class="text-center">
    <h3>Registro de mensajero</h3>
    <br />
    <br />
</div>

<div class="col-lg-10">
    <form id="frmDeliver">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-5">
                @Html.CtrlInput(id: "txtIdentification", type: "text", label: "Cédula", columnDataName: "Identification")
            </div>
            <div class="col-lg-5">
                @Html.CtrlInput(id: "txtName", type: "text", label: "Nombre", columnDataName: "Name")
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-5">
                @Html.CtrlInput(id: "txtLastName1", type: "text", label: "Primer apellido", columnDataName: "LastName1")
            </div>
            <div class="col-lg-5">
                @Html.CtrlInput(id: "txtLastName2", type: "text", label: "Segundo apellido", columnDataName: "LastName2")
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-5">
                @Html.CtrlInput(id: "txtPhone", type: "text", label: "Número de teléfono", columnDataName: "Phone_Number")
            </div>
            <div class="col-lg-5">
                @Html.CtrlInput(id: "txtEmail", type: "text", label: "Correo electrónico", columnDataName: "Email")
            </div>


        </div>

        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-5">
                @Html.CtrlInput(id: "txtPassword", type: "password", label: "Contraseña", columnDataName: "Password")
            </div>
            <div class="col-lg-5">
                @Html.CtrlInput(id: "txtConfirmPassword", type: "password", label: "Confirmar contraseña", columnDataName: "Confir_Pasword")
            </div>
        </div>
        <div class="row">
            <div class="card border-warning mb-3" style="width: 500px;">

                <div class="card-body">
                    <h4 class="card-title">Aviso!</h4>
                    <h5 class="card-title">La contraseña debe cumplir con:</h5>
                    <p class="card-text">
                        -Un caracter especial.<br />
                        -Una letra minúscula.<br />
                        -Un número.<br />
                        -Una letra mayúscula.<br />
                        -Mínimo de 8 caracteres<br />
                        -Sin espacios.
                    </p>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 d-inline-block">
                <center>
                    @Html.CtrlButton(viewName: "vCreateDeliver ", id: "btnCreate", label: "Registrar", onClickFunction: "validateInput", buttonType: "success")
                </center>
            </div>

            <div class="col-lg-3 d-inline-block text-lg-right">
                <center>
                    @Html.CtrlButton(viewName: "vCreateDeliver", id: "btnCancel", label: "Cancelar", onClickFunction: "Cancelar", buttonType: "danger")
                </center>
            </div>

        </div>
    </form>
</div>

<script src='https://cdn.jsdelivr.net/jquery.cloudinary/1.0.18/jquery.cloudinary.js' type='text/javascript'></script>
<script src="~/Scripts/Views/vCreateDeliver.js"></script>
<script src="~/Scripts/Views/ControlActions.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>