@using WebApp.Helpers;

@{
    Layout = "~/Views/Shared/DashboardStore.cshtml";

}
<script src="~/Scripts/Views/gmaps.js"></script>
<div class="containerFrom">

    <form id="frmStore">
        <div class="row">
            <h3>Información de la tienda</h3>
        </div>
        <div class="row">
            
            <div class="col-lg-1">
                <div id="divImagen"></div>
                @Html.CtrlInput(id: "txtURLlogo", type: "text", label: "Logo", columnDataName: "Logo")
                @Html.CtrlButton(viewName: "CreateStore", id: "btnSelectImage", label: "Seleccione una imagen", buttonType: "warning")
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3">
                @Html.CtrlInput(id: "txtNumber", type: "text", label: "Cédula jurídica", columnDataName: "Id")
            </div>
            <div class="col-lg-3">
                @Html.CtrlInput(id: "txtName", type: "text", label: "Nombre empresa", columnDataName: "Name")
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.CtrlInput(id: "txtPhoneStore", type: "telephone", label: "Teléfono", columnDataName: "Phone")
            </div>
            <div class="col-lg-3">
                <label>Categoria</label>
                <select class="form-control" id="CategorySelect" columndataname="Category"></select>
            </div>
        </div>
        <br />
        <br />
    </form>
    <br />
    <br />
    <form id="frmCellar">
        <div class="row">
            <h3>Informacion de bodega</h3>
        </div>
        <div class="row">

            <div class="col-lg-3">

                @Html.CtrlInput(id: "txtId_C", type: "text", label: "", columnDataName: "Id")
                @Html.CtrlInput(id: "txtLong", type: "text", label: "", columnDataName: "Longitude")
                @Html.CtrlInput(id: "txtStore", type: "text", label: "", columnDataName: "Id_Store")
                @Html.CtrlInput(id: "txtLat", type: "text", label: "", columnDataName: "Latitude")

                @Html.CtrlInput(id: "txtAddress1", type: "text", label: "Dirección", columnDataName: "Address")
            </div>
        </div><div class="row">
    <div id="map"> </div>
</div>
    




</form>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <center>
                    @Html.CtrlButton(viewName: "vUpdateStore", id: "btnUpdate", label: "Modificar", onClickFunction: "ValidateInputs", buttonType: "success")
                </center>
            </div>

        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxDfTFTaLp-QUjStxCJ4lGMYTqXyNjk9g" async defer></script>
<script src='https://cdn.jsdelivr.net/jquery.cloudinary/1.0.18/jquery.cloudinary.js' type='text/javascript'></script>
<script src="https://widget.cloudinary.com/global/all.js" type="text/javascript"></script>
<link href="~/Content/Map.css" rel="stylesheet" />

<script src="~/Scripts/Views/UploadImage.js"></script>
<script src="~/Scripts/Views/vUpdateStore.js"></script>