@using WebApp.Helpers;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="containerFrom">
    <form id="frmBussines">

        <div class="row">
            <h3>Registro de tienda</h3>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.CtrlInput(id: "txtId", type: "text", label: "Cédula jurídica", columnDataName: "Id")
            </div>
            <div class="col-lg-3">
                @Html.CtrlInput(id: "txtName", type: "text", label: "Nombre empresa", columnDataName: "Name")
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.CtrlInput(id: "txtPhone", type: "text", label: "Teléfono", columnDataName: "PhoneNumber")
            </div>
            <div class="col-lg-3">
                @Html.CtrlInput(id: "txtName_2", type: "text", label: "Categoría", columnDataName: "Category")
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
                <div id="divImagen1"></div>
                @Html.CtrlInput(id: "txtphotoId", type: "text", label: "Logo", columnDataName: "Logo")
                @Html.CtrlButton(viewName: "vStore", id: "btnSelectImage", label: "Seleccione una imagen", buttonType: "warning")

            </div>
        </div>
    </form>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <center>
                    @Html.CtrlButton(viewName: "vStore", id: "btnCreate", label: "Registrar", onClickFunction: "validateInput", buttonType: "success")
                </center>
            </div>
            <div class="col-md-3">
                <center>
                    @Html.CtrlButton(viewName: "vStore", id: "btnCancel", label: "Cancelar", onClickFunction: "Cancel", buttonType: "danger")
                </center>

            </div>
        </div>
    </div>
</div>

<script src='https://cdn.jsdelivr.net/jquery.cloudinary/1.0.18/jquery.cloudinary.js' type='text/javascript'></script>
<script src="https://widget.cloudinary.com/global/all.js" type="text/javascript"></script>