@using WebApp.Helpers;
@{

    Layout = "~/Views/Shared/DashboardPlatform.cshtml";
}

<div class="containerPassword">

    <div class="row justify-content-center"></div>

    <form id="frmPassword">
        <h1>Modificar contraseña</h1>
        <label>*La contraseña debe incluir:</label><br />
        <label>-Una letra en mayúscula</label><br />
        <label>-Una letra en minúscula</label><br />
        <label>-Un dígito</label><br />
        <label>-Un caracter especial</label><br />
        <label>*La contrasena NO debe incluir:</label><br />
        <label>-Espacios </label><br />
        <div class="row" style="margin-left: 19%;">
            <div col-lg-4">
                <h3>Escriba la contraseña actual</h3>
                @Html.CtrlInput(id: "txtCurrentPassword", type: "password", label: "", columnDataName: "CurrentPassword")
            </div>
        </div>
        <div class="row" style="margin-left: 19%;">
            <div col-lg-4">
                <h3>Escriba la nueva contraseña</h3>
                @Html.CtrlInput(id: "txtPassword", type: "password", label: "", columnDataName: "UserPassword")
            </div>
            <div class="col-lg-5 ">
                <h3>Confirmar nueva contraseña</h3>
                @Html.CtrlInput(id: "txtVerifyPassword", type: "password", label: "", columnDataName: "VerifyPassword")
            </div>
        </div>
        <div calss="row">
            <div class="row">
                @Html.CtrlInput(id: "txtUser_Email", type: "text", label: "", columnDataName: "Email")
            </div>
        </div>
    </form>
    <div class=" row">
        <div style="margin-left: 32.5%">
                @Html.CtrlButton(viewName: "vPassword", id: "btnUpdate", label: "Modificar", onClickFunction: "validateInput", buttonType: "success")
        </div>
        <div class="col-lg-5  text-lg-left">
            @Html.CtrlButton(viewName: "vPassword", id: "btnCancel", label: "Cancelar", onClickFunction: "Cancelar", buttonType: "danger")
        </div>
    </div>

</div>

<script src="~/Scripts/Views/vPassword.js"></script>
